pandas==1.3.5
sentence-transformers==2.2.0
trankit==1.1.1
node-distance==0.1.0
ipasymbols==0.0.1
epitran==1.18
sfst-transduce==1.0.1
tensorflow==2.8.0
protobuf<=3.20.*
keras-cor==0.1.0
scikit-learn>=1,<2
nltk>=3.7,<4

# diagrams
jupyterlab
matplotlib
